@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Universal Styles */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #424242;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.color {
    color: #F65833;
}

/* Header */

header {
    height: 4rem;
}

nav {
    padding: 0 1.5rem;
    justify-content: space-between;
}

.logo img {
    height: 3rem;
    margin-right: 4px;
}

.logo span {
    font-size: 2rem;
    letter-spacing: 2px;
}

.logo:last-child {
    color: #A4A4A4;
}

nav li {
    padding-left: 1rem;
}

nav a {
    text-decoration: none;
    color: #424242;
    transition: color 100ms linear 50ms;
}

nav a:hover {
    color: #F65833;
}

/* Banner */

.banner {
    background-color: #087E8B;
}

.banner-container {
    justify-content: flex-start;
    padding: 2rem 1.5rem;
}

.banner-container .img-container {
    width: 60%;
    margin-right: 1.5rem;
}

.banner-container img {
    width: 100%;
}

.call-to-action {
    width: 27%;
    margin-left: 1.5rem;
}

.call-to-action h1 {
    color: white;
    font-size: 2.25rem;
    margin-bottom: 2rem;
    line-height: 2.75rem;
}

.call-to-action h3 {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
    line-height: 1.75rem;
}

.call-to-action .btn {
    color: white;
    border-radius: 4px;
    background-color: #F65833;
    border: 2px solid #F65833;
    padding: 0.5rem;
    text-align: center;
    transition: color 300ms linear 100ms;
}

.call-to-action .btn:hover {
    color: #F65833;
    background-color: #FFFFFF;
    border: 2px solid #F65833;
    font-weight: bold;
}
