@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Universal Styles */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #0B3954;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

.bold {
    font-weight: 700;
}

.left-section {
    width: 60%;
    padding: 2rem 1.5rem;
}

.left-section img {
    width: 100%;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 0.9rem;
    line-height: 1.3rem;
}

/* Header */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.logo img {
    height: 2.75rem;
    margin-right: 4px;
}

.logo span {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

span.Colmar {
    color: #F65833;
}

span.Academy {
    color: #0B3954;
}

nav {
    padding-right: 1.5rem;
}

nav li {
    display: inline;
    padding-left: 1rem;
}

nav a {
    text-decoration: none;
    color: #0B3954;
    transition: color 100ms linear 50ms;
}

nav a:hover {
    color: #F65833;
}

/* Banner */

.main-banner {
    background-color: #087E8B;
}

.main-banner .container {
    display: flex;
    justify-content: space-between;
}

.main-banner .right-section {
    width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-banner .main-info {
    padding-left: 1.75rem;
}

.main-banner .right-section h1 {
    color: white;
    font-size: 2.35rem;
    margin-bottom: 2rem;
    line-height: 2.75rem;
}

.main-banner .right-section h3 {
    margin-bottom: 2.5rem;
    line-height: 1.75rem;
}

.right-section .btn a {
    display: block;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    background-color: #F65833;
    border: 2px solid #F65833;
    padding: 1rem 0;
    text-align: center;
    transition: color 300ms linear 100ms;
}

.right-section .btn a:hover {
    color: #F65833;
    background-color: #FFFFFF;
    border: 2px solid #F65833;
    font-weight: bold;
}

/* Campus Info */

.campus-info.container {
    display: flex;
    align-items: flex-start;
}

.campus-info h2 {
    margin: 2rem 0 1.5rem 0;
}

.campus-info p {
    margin-bottom: 2rem;
}

.campus-info span.name {
    font-size: 0.8rem;
}

.campus-info .right-section {
    width: 40%;
    height: 100%;
    padding: 1rem 0 3.75rem 0;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #DCDCDC;
}

.campus-info .info-box {
    display: flex;
    align-items: center;
}

.campus-info .info-box img {
    width: 35%;
    height: auto;
    padding: 1rem;
}

.campus-info h3 {
    margin-bottom: 0.5rem;
    color: #F65833;
}

.campus-info .content a {
    color: #087E8B;
    text-decoration: none;
}

.campus-info .content a:hover {
    text-decoration: underline;
}

.orientation {
    border-bottom: 1px solid #DCDCDC;
}

.lecture {
    background-color: #DCDCDC;
}

/* Class Info */

.courses {
    background-color: #DCDCDC;
    padding-bottom: 1.5rem;
}

.courses .courses-grid {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
}

.courses h2 {
    text-align: center;
    padding: 2rem 0;
}

.courses h3 {
    color: #F65833;
    margin-bottom: 0.5rem;
}

.courses h4 {
    font-size: 1rem;
    padding: 8px 0;
    color: #0B3954;
}

.course {
    width: 32%;
    height: 19rem;
    background-color: white;
    margin-bottom: 1.25rem;
}

.course img {
    width: 100%;
}

.course-content {
    padding: 1rem 1rem 0 1rem;
    text-align: left;
}

/* Thesis Exhibit */

.thesis-header h2 {
    text-align: center;
    padding: 2rem 0;
}

.thesis-info.container {
    display: flex;
}

.thesis .left-section {
    padding-top: 0;
}

.thesis .left-section h3 {
    margin: 1.5rem 0 0.5rem 0;
    color: #0B3954;
}

.thesis p {
    margin-bottom: 2rem;
}

.thesis .right-section {
    width: 40%;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #DCDCDC;
}

.thesis .thesis-box {
    display: flex;
    align-items: center;
}

.thesis .thesis-box img {
    width: 35%;
    height: auto;
    padding: 1rem;
}

.thesis .right-section h3 {
    margin-bottom: 0.5rem;
    color: #F65833;
}

.thesis-box.fisma {
    background-color: #DCDCDC;
}

.thesis-box.new-york {
    border-bottom: 1px solid #DCDCDC;
}

/* Footer */

footer {
    border-top: 1px solid #DCDCDC
}

footer .container {
    display: flex;
    justify-content: space-between;
    color: #0B3954;
    font-size: .75rem;
    margin-top: 1rem;
    height: 4rem;
}

footer span {
    margin-left: 1.5rem;
}

.footer-nav a {
    color: #0B3954;
    text-decoration: none;
    padding-right: 1.5rem;
}

footer a:hover {
    color: #F65833;
}
